h3 {
    color: red;
}
        p[class="b"]:focus {
           color: blue;
        }
        p[class="b"]:hover {
            color: red;
        }
        p[class="b"]:active {
            color: green;
        }
                .q{
                    background-color:red;
                }
                .w{
                    background-color:green;
                }
                .e{
                    background-color:blue;
                }
                        a:visited {
                            color:orange;
                        } 
                        a:link {
                            color:pink;
                        }
                        a[href^="mailto:"i] {
                            color:blue;
                        }
                        a[href^="tel"i] {
                            color:yellow
                        }
                        a[href^="pdf"i] {
                            font-size:30px;
                        }
                            .j {
                                color:red;
                            }
                                        .xu li:nth-child(-n+25){
                                            color:red;
                                        }
                                        .xu li:nth-child(n+60){
                                            color:green;
                                        }
                                        .xu li:nth-child(-n+50):nth-child(n+35){
                                            color:blue;
                                        }
                                                .yun li:nth-child(2n+4),
                                                .yun li:nth-child(3n+9),
                                                .yun li:nth-child(5n+27),
                                                .yun li:nth-child(7n+49) {
                                                color:red;
                                                }
                                                  .mm ul{
                                                        list-style: none;
                                                    }